node_modules
dist
build
*.min.js
*.min.css
coverage
.next
src/routeTree.gen.ts
.venv
sdks/**/.venv
sdks/python/src/lilypad/_generated/**/*.md
sdks/python/tests/**/cassettes/*.yaml
**/*.map
sdks/fern/openapi.json
