/* Hide guides and faq from main menu */
.nextra-nav-container > nav > div > a[href="/guides"] {
    display: none !important;
  }
  
.nextra-nav-container > nav > div > a[href="/faq"] {
display: none !important;
}

.nextra-nav-container > nav > div > a[href="/self-hosting"] {
display: none !important;
}
